
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1px;
  box-sizing: border-box;
  scrollbar-color: #d4d4d8 #292c3b;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;

}

:root{
  --prm: #000;
  --sac: rgb(24 24 27);
  --bdc: rgba(63, 63, 70, 0.4);
  --ti:  rgb(244 244 245);
  --st:  rgb(161 161 170);  
  --bgh: rgb(39 39 42);
  --blu: #d60000;
  --ico-h: #d4d4d8;
  --con-pad: 4.8rem;
}

.light {
  --prm: rgb(250, 250, 250); 
  --sac: rgb(255, 255, 255);
  --bdc: rgba(202, 202, 202, 0.518);
  --ti:  rgb(39, 39, 42);
  --st:  rgb(82, 82, 91);
  --bgh: rgb(253 253 253);
  --blu:rgb(93 188 252);
  --ico-h: #333;
}

body {
  background-color: var(--prm);
  color: #fff;
}

.container {
  border: 2px solid var(--bdc);
  width: 91%;
  margin-left:auto;
  margin-right:auto;
  background-color: var(--sac);
  padding: 0 var(--con-pad);
}

.dvdr {
  border-bottom: 1px solid var(--bdc);
  margin: 3rem 0;
  width: calc(100% + var(--con-pad) + var(--con-pad));
  margin-left: clac (var(--con-pad) * -1);
}

li{
  list-style: none;
}

a{
  all: unset;
  transition: 0.2s;
}

a:hover{
  cursor: pointer;
}

.flx {
  display:flex;
  align-items: center;
}

.border {
  border: solid 2px red;
}

button {
  all: unset;
}

button:hover {
  cursor: pointer;
}

button:active {
  scale: 0.9;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}


::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  background-color: #d4d4d8;
}

::-webkit-scrollbar-thumb{
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.scroll2top {
  background-color: rgba(25, 118, 210, 0.85);
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: .8%;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.4rem;
  opacity: 0.8;
  font-weight: bolder;

}

.scroll2top:hover {
  background-color: rgb(25 118 210);
}

@media (max-width: 600px) {
  .container {
    --con-pad: 1.5rem;
    width: 96%;
    padding: 0 var(--con-pad);
  }
  .scroll2top {
    opacity: 0.4;
    font-size: 1rem;
    width: 1.8rem;
    height: 1.8rem;
  }
}

@media (max-width: 1000px) {
  .container {
    --con-pad: 1.5rem;
    width: 90%;
    padding: 0 var(--con-pad);
  }

  .dvdr {
    width: calc(100% + var(--con-pad) + var(--con-pad));
    margin-left: calc( var(--con-pad) * -1);
  }
}

@media (min-width: 1000px) {
  .dvdr {
    width: calc(100% + var(--con-pad) + var(--con-pad));
    margin-left: calc( var(--con-pad) * -1);
  }
}