/* ===================================
table of ocntent
======================================

1-header
2-buuton / icons
3-responsive
4-pop up
*/


/* header */
header.flx {
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
}

header.flx nav{
    background: var(--bgh);
    padding: 0.77rem 1.6rem;
    border-radius: 55px;
    box-shadow: 2px 2px 40px rgb(49, 50, 51);
}

.light header.flx nav {
    box-shadow: none;
    border: 1px solid rgba(30, 32, 34, 0.3);

}

header ul.flx {
    gap: 16px;
}

header ul li a{
    color: var(--ti);
    opacity: 0.9;
    font-size: 0.88rem;
    font-weight: 500;
}

header ul li a:hover{
    color: var(--blu);
    opacity: 1 ;
    font-size: 0.9rem;
}

/* buttons / icons */

header button {
    font-size: 1.2rem;
}

header button.menu {
    display: none; 
}

header .icon-menu, header button.mode {
    background-color: var(--bgh);
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    color: var(--st);
    border: 1px solid rgba(250, 202, 114, 0.247);
}

.light header button.mode {
    border: 1px solid rgba(30, 32, 34, 0.3)
}

header .icon-menu:hover, header button.mode:hover {
    color: var(--ti);
    border: 1px solid rgba(250, 202, 114, 0.74);
    transition: 0.2s;
}

header .icon-sun {
    color: orange;
}

header .icon-moon-o {
    color:rgba(0, 255, 255, 0.616);
}

header .icon-close{
    font-size: 1.4rem;
    color: var(--st);
    transition: 0.3s;
}

header .icon-close:hover{
    
    color: crimson;
    rotate: 130deg;
}

/* responsive */

@media (max-width: 700px) {
  header.flx nav{
    display: none;
  }  

  header button.menu {
    display: block; 
}
}

header .fix {
    position: fixed;
    inset:0;
    background: rgba( 40, 40, 48, 0.9 );
    backdrop-filter: blur(8px);
}

@keyframes move {
    0% {scale: 0;}
    50% {scale: 1.1}
    100% {scale: .8;}
}

/* pop up */

header .fix ul.modl{
    animation: move 0.5s 1;
    width: 45%;
    margin:  2rem auto 0 auto;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--sac);
}

header .fix ul.modl li {
    border-bottom: 1px solid var(--bdc);
    padding: 0.77rem 0.5rem 0;
}

header .fix ul.modl li:last-child {
    border-bottom: none;
    padding: 0.77rem 0.5rem 0;
}

header .fix ul.modl li a {
    font-size: 1rem;
}

header .fix ul.modl li:first-child {
    text-align: right;
    border-bottom: none;
    padding-top: 0.2rem;
    padding-bottom: 0;
    margin-bottom: -1rem;
}
